@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-200 antialiased transition-colors duration-300;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-50 dark:bg-slate-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-700 rounded-full hover:bg-primary-500 transition-colors;
  }
}